body {
    font-family: 'Montserrat';
    background-color: #f8f9fa;
    color: #212529;
}
.navbar-brand {
    font-weight: bold;
}
nav {
    background: linear-gradient(135deg, #dfc7a7, #dfc7a7);
    color: rgb(255, 255, 255);
}
header {
    background: linear-gradient(135deg,  #d7c0a2, #b6a289);
    color: rgb(255, 255, 255);
}
.card {
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-header {
    background: linear-gradient(135deg, #cab69b, #cab69b);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    position: relative;
    padding-left: 20px;
}

ul li::before {
    position: absolute;
    left: 0;
    color: #ac9a83;
    font-size: 1.5rem;
    top: -2px;
}

footer {
    background: linear-gradient(135deg, #dfc7a7, #dfc7a7);
    margin-top: 20px;
    font-size: 0.9rem;
}
